:root {
    --white: #ffffff;
    --lightGray: #d6e2f0;
    --grayishBlue: #7b879d;
    --darkBlue: #1f3251;

    --fontP15: 0.95em;
    --borderRadius: 1em;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;

    background-color: var(--lightGray);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

main {
    max-width: 300px;
    margin: auto;
}

main .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white);
    padding: var(--fontP15);
    border-radius: var(--borderRadius);
    box-shadow: 0 0 30px #7b879dab;
}

main .card img {
    width: 270px;
    border-radius: var(--borderRadius);
}

main .card h1 {
    text-align: center;
    color: var(--darkBlue);
    font-size: 1.3em;
    font-family: 'Outfit', sans-serif;
    font-weight: 700;

    margin: 20px 10px 10px 10px;
}

main .card p {
    text-align: center;
    color: var(--grayishBlue);
    font-size: var(--fontP15);
    font-family: 'Outfit', sans-serif;
    font-weight: 400;

    margin: 10px 10px 20px 10px;
}

footer {
    text-align: center;
    color: var(--grayishBlue);
    font-size: 0.9em;
    font-family: 'Outfit', sans-serif;
    margin-bottom: 30px;
}